src/**
test*/
tests/**
webview/src/**
node_modules/**
.vscode/**
.vscode-test/**
.git/**

*.ts
**/*.map
test_*.py
*.pyc
*.vsix
npm-debug.log

__pycache__/**
runtime/**
tsconfig.json
package-lock.json
.gitignore
.eslintrc*
